#My files
Data/Neon_coun*


# Jupyter Notebook
.ipynb_checkpoints


# virtualenv
.venv
venv/
ENV/

# Rworkspace intermediates
Rworkspace/.Rhistory
Rworkspace/.Rproj.user/*

# Scratch
scratch/*
Data/NEON_presence-cover-plant.zip